{
  "consumer_key": "YOUR_YAHOO_CLIENT_ID_HERE",
  "consumer_secret": "YOUR_YAHOO_CLIENT_SECRET_HERE",
  "league_id": "YOUR_LEAGUE_ID_HERE",
  "game_code": "nfl",
  "game_id": null,
  "access_token": null
}
