season,team,new_offensive_coordinator,offensive_coordinator_name,new_defensive_coordinator,defensive_coordinator_name
2026,SF,True,Klay Example,False,Nick Example
2026,LAR,False,Mike Example,True,Chris Example
